body{
    background-image: linear-gradient(rgba(4, 4, 100, 0.5), rgba(6, 99, 48, 0.5));
    padding-left: 20PX;
    padding-right: 20px;
    font-size: 30px;
}
#title{
    position: absolute;
    top: 1%;
    right: 45%;
    font-size: 40px;
}

#submit{
    width: 180px;
    height: 40px;font-size: 30px;
    position: relative;
    bottom: 50px;
    left: 630px;
}